<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= stylesheet_pack_tag 'application' %>

  <%= raw the_head %>
</head>
<body>
<%= yield %>

<%= javascript_pack_tag 'application' %>
</body>
</html>